*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1 {
    color: #4C4B4B;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
}
h2{
    color: #1a0e0e;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
}

.row {
    
   padding: 5px;
   margin:5px
   
  }
  
  .column {
    flex: 33.33%;
    padding: 50px;
    margin: 75px;
   
  }
  button {
    border: none;
    border-radius: 8px;
    padding: 10px;
    background: #180a97;
    color: rgb(144, 144, 168);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: 0.5s;
}

button:hover,
h1:hover {
    transform: scale(1.1);
}

button:hover {
    background-color: #920a0a;
}
.about{
    padding: 20px;
    margin: 10px;
    color: #4C4B4B;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid rgb(51, 153, 102);
    height: 500px;
}
.footer{
    display: flex;
    align-items: center;
    background-color:  rgba(62, 16, 99, 0.795);
}





  
  
  
  
  
  
  



